body {
  font-family: Helvetica;
  text-align: center;
}

.hero {
  background-image: url('../img/the-flatiron-building.png')
}

h1 {
font-size: 70px;
font-weight: bold;
color: white;
}

a {
  font-size: 18px;
  color: white;
}
/* gilt für a im gesamten Index */

h2 {
  font-size: 32px
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#Designed {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.End {
  text-align: left;
  background-color: dimgray;
}

h4 {
  font-size: 11px;
  color: white;
}
